version: '3.8'
services:
  proxy_nginx: 
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    network_mode: host # 在服务器上部署时建议使用 host,同时屏蔽下面的 ports 和 networks
    # ports:
    #   - "8888:80"
    #   - "8899:30000"
    container_name: proxy_nginx
    environment:
      # 自定义的redis 相关环境变量
      - TZ=Asia/Shanghai
    # depends_on:
    #   - backend1
    # networks:
    #   - backnet
    #   - frontnet

# networks:
#   backnet:
#   frontnet:
